<title>Jiaming Zhong | Learning, Control &amp; Mobile Autonomy</title>
<meta name="description" content="{{ site.description | escape }}">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
<meta property="og:type" content="profile">
<meta property="og:title" content="Jiaming Zhong | Learning, Control &amp; Mobile Autonomy">
<meta property="og:description" content="{{ site.description | escape }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.author.avatar }}">
<meta property="og:image:alt" content="Jiaming Zhong">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Jiaming Zhong | Learning, Control &amp; Mobile Autonomy">
<meta name="twitter:description" content="{{ site.description | escape }}">
<meta name="twitter:image" content="{{ site.author.avatar }}">
